<section class="px-10 py-10" style="background-color: #FFF4F0;">
  <div class="container mx-auto px-4 bg-white rounded-lg shadow-white-md">
    <h1 class="text-3xl font-semibold mb-4 py-3" style="color: #024525;">New Publication</h1>
    <%= render 'shared/form-new-publication', publication: @publication %>
  </div>
</section>