<section class="about-page py-10 px-4">
  <div class="py-4 px-2 mx-auto max-w-lg sm:max-w-lg md:max-w-xl lg:max-w-[600px]">
    <div class="flex flex-col md:flex-row gap-10 items-center">
      <div>
        <%= image_tag 'about.jpg', alt: 'Photo of Ana Lena Hahn', class: 'h-40 w-40 rounded-full' %>
      </div>
      <div>
        <h1 class="text-3xl" style="color: #024525">Hello, I am Anna Lena</h1>
      </div>
    </div>
    
   
    <p style="color: #024525; margin-top: 30px;"><strong>EN</strong> Welcome to my professional portfolio.</p>

    <p style="color: #024525; margin-top: 30px; font-style: italic;"><strong>FR</strong> Bienvenue dans mon portfolio professionnel.</p>

    <h2 style="color: #024525; font-size: 20px; font-weight: bold; margin-top: 30px;">Background</h2>
    <div class="mt-1 mb-1 w-2/6">
      <hr style="color: #024525; font-weight: bold; margin: 0;">
    </div>
    <p style="text-align: justify; color: #024525"><strong>EN</strong> Having grown up in the Ruhr area, a former coal-mining region that has gradually
become a green metropolis, I was fascinated from an early age by ecological landscape
design as a means of revitalising a region. After a B.A. in Philosophy, Politics and
Economics from the University of Witten/Herdecke, I continued my education at Schumacher
College in the UK, a progressive college for ecological studies. My PhD at Goethe University
Frankfurt, with a research stay at the University of Michigan, gave me the opportunity to
delve deeper into ecological landscape design in urban and post-industrial regions. I
furthermore qualified as a landscape design technician at ESA Angers to bridge the gap
between practical knowledge and academic research.</p>

<p style="text-align: justify; font-style: italic; color: #024525;"><strong>FR</strong> Ayant grandi dans la Ruhr, une ancienne région minière en Allemagne qui s&#39;est
progressivement transformée en métropole verte, j&#39;ai très tôt été fascinée par
l&#39;aménagement paysager écologique comme vecteur de revitalisation d’une région. Après
avoir obtenu une licence en philosophie, politique et économie à l&#39;université de
Witten/Herdecke, j&#39;ai poursuivi mes études au Schumacher College au Royaume-Uni, un
établissement d&#39;enseignement supérieur en écologie holistique. Par la suite, mon doctorat à
l&#39;université Goethe de Francfort, comportant un séjour de recherche à l&#39;université du
Michigan, m&#39;a permis d’élargir mes connaissances en aménagement paysager écologique
aux régions urbaines et post-industrielles. Parallèlement, j&#39;ai obtenu un BTSA en
aménagement paysager à l&#39;ESA d&#39;Angers pour associer la pratique à la recherche.</p>

    <h2 style="color: #024525; font-size: 20px; font-weight: bold; margin-top: 30px;">Experience</h2>
    <div class="mt-1 mb-1 w-2/5">
      <hr style="color: #024525; font-weight: bold; margin: 0;">
    </div>
    <p style="text-align: justify; color: #024525"><strong>EN</strong> In 2019, I co-founded the studio &#39;Atelier Za&#39;atar&#39; with my colleague Titiane Haton. We
have worked in numerous projects, ranging from design work to landscape mediation and
education. I have furthermore worked with and learned with Bettina Jaugstetter as well as
Cassian Schmidt, and their respective approaches to naturalistic planting design. Before
focusing on landscape design, I worked in systemic organisational consulting for osb
Hamburg. This approach still accompanies me in my work with different stakeholders.</p>

<p style="text-align: justify; font-style: italic; color: #024525;"><strong>FR</strong> En 2019, j&#39;ai cofondé le studio de design &quot;Atelier Za&#39;atar&quot; avec Titiane Haton. Nous
avons travaillé sur de nombreux projets, allant de la conception à la médiation paysagère,
ou encore à caractère artistique. J&#39;ai également travaillé avec les paysagistes Bettina
Jaugstetter et Cassian Schmidt, profitant de leur expérience en matière de conception de
plantations naturalistes. Avant de me consacrer au domaine du Paysage, j&#39;ai travaillé
comme consultante en organisation systémique pour osb Hambourg - une approche qui
m&#39;accompagne toujours aujourd’hui dans mon travail.</p>

  <h2 style="color: #024525; font-size: 20px; font-weight: bold; margin-top: 30px;">Design Philosophy</h2>
  <div class="mt-1 mb-1 w-2/4">
      <hr style="color: #024525; font-weight: bold; margin: 0;">
    </div>
  <p style="color: #024525; text-align: justify;"><strong>EN</strong> My design and research begins with an in-depth understanding of a milieu and its
human and non-human inhabitants. I work with curiosity and respect for what already exists

in a place and understand the work of designing as a weaving of ecological relationships.
This involves both working with people&#39;s ability to see and understand the ecological
relationships in a landscape and using design to make landscapes more legible and
aesthetically pleasing.</p>

<p style="text-align: justify; font-style: italic; color: #024525;"><strong>FR</strong> Mes interventions naissent d&#39;une compréhension profonde d&#39;un milieu avec ses
habitants humains et non-humains. En tant que paysagiste et chercheuse, ma
pratique est empreinte de curiosité et de respect pour ce qui préexiste : Je conçois
donc le travail du designer comme un tissage de relations écologiques. Celui-ci
implique d’encourager à la fois la capacité des gens à voir et à comprendre les
relations écologiques d’un paysage et d&#39;utiliser la conception pour rendre les
paysages écologiques plus lisibles et plus esthétiques.</p>

  <h2 style="color: #024525; font-size: 20px; font-weight: bold; margin-top: 30px;">Contact Me</h2>
  <div class="mt-1 mb-1 w-2/5">
    <hr style="color: #024525; font-weight: bold; margin: 0;">
  </div>

   <p><strong>Email:</strong> a.l.hahn@icloud.com</p>
   <p style="color: white; font-weight: bold; background-color: #024525; padding: 5px; border-radius: 5px; text-decoration: none; cursor: pointer; width: 120px; text-align: center;"><%= mail_to 'a.l.hahn@icloud.com', 'Contact Me', subject: 'Contact from Website', body: 'Hello from the website!', style: "color: white; text-decoration: none;" %></p>
   
  </div>
</section>
