<section class="about-page py-10">
  <div class="py-4 px-2 mx-auto max-w-screen-xl max-w-[600px] sm:py-4 lg:px-6">
    <div class="flex flex-col md:flex-row gap-10 items-center">
      <div>
        <%= image_tag 'about.jpg', alt: 'Photo of Ana Lena Hahn', class: 'h-40 w-40 rounded-full' %>
      </div>
      <div>
        <h1 class="text-3xl text-green-800">Hello, I am Anna</h1>
      </div>
    </div>
    
   
    <p style="color: #024525; margin-top: 30px;">Welcome to my professional portfolio. I am delighted to share my journey and passion for landscape architecture with you.</p>

    <h2 style="color: #024525; font-size: 20px; font-weight: bold; margin-top: 30px;">Background</h2>
    <div class="mt-1 mb-1 w-2/6">
      <hr style="color: #024525; font-weight: bold; margin: 0;">
    </div>
    <p style="color: #024525;">My name is Anna Lena Hahn, a dedicated landscape architect with over 5 years of experience in...........</p>

    <h2 style="color: #024525; font-size: 20px; font-weight: bold; margin-top: 30px;">Experience</h2>
    <div class="mt-1 mb-1 w-2/5">
      <hr style="color: #024525; font-weight: bold; margin: 0;">
    </div>
    <p style="color: #024525;">Throughout my career, I have had the privilege of working on a diverse range of projects, from urban parks and residential gardens to commercial landscapes and public spaces</p>

  <h2 style="color: #024525; font-size: 20px; font-weight: bold; margin-top: 30px;">Design Philosophy</h2>
  <div class="mt-1 mb-1 w-2/4">
      <hr style="color: #024525; font-weight: bold; margin: 0;">
    </div>
  <p style="color: #024525;">My design philosophy centers on the harmonious integration of natural elements and human needs. I believe in creating spaces that not only enhance the beauty of the environment but also promote well-being and community engagement. Key principles of my approach include:</p>

  <h2 style="color: #024525; font-size: 20px; font-weight: bold; margin-top: 30px;">Contact Me</h2>
  <div class="mt-1 mb-1 w-2/5">
    <hr style="color: #024525; font-weight: bold; margin: 0;">
  </div>
    <p>If you would like to learn more about my work or discuss a potential project, please feel free to contact me. I look forward to connecting with you and exploring how we can create beautiful and sustainable outdoor spaces together.</p>

   <p ><strong>Email:</strong> anna@atelier-zaatar.com</p>
   <p><a href="mailto:anna@atelier-zaatar.com?subject=Contact%20from%20Website&body=Hello%20from%20the%20website!">Contact Me</a></p>
   
  </div>
</section>
