.banner-size {
  position: relative;
  height:80dvh;
}

.banner-button {
  border-radius: 5px;
  background-color: #024525;
  color: white;
  opacity: 0.8;
  font-weight: bold;
}

.banner-button:hover {
  background-color: #024525;
}